[submodule "libs/abseil-cpp"]
	path = libs/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "libs/gtest"]
	path = libs/gtest
	url = https://github.com/google/googletest.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/GLFW"]
	path = libs/GLFW
	url = https://github.com/glfw/glfw.git
