[submodule "libs/abseil-cpp"]
	path = libs/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "libs/gtest"]
	path = libs/gtest
	url = https://github.com/google/googletest.git
[submodule "libs/small-gui"]
	path = libs/small-gui
	url = https://github.com/tekknolagi/full-beans.git
